<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /Dr. Murli Manohar/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /Dr. Murli Manohar/index.html [L]
</IfModule>
